# Use this notebook for your 3 choices of APIs

In [1]:
import requests
import json
import pandas as pd

pd.set_option("display.max_rows", 0)
pd.set_option("display.max_columns", 0)

In [2]:
# 200: Everything went okay and the result has been returned (if any).
# 301: The server is redirecting you to a different endpoint. This can happen when a company switches domain names, or an endpoint name is changed.
# 400: The server thinks you made a bad request. This happens when you don’t send along the right data, among other things.
# 401: You are not properly authenticated.
# 403: The resource you’re trying to access is forbidden: you don’t have the right permissions to get it.
# 404: The resource you tried to access doesn't exist.
# 503: The server can't handle the request.
# full list: https://en.wikipedia.org/wiki/List_of_HTTP_status_codes

## API 1

In [3]:
response = requests.get('https://xkcd.com/info.0.json')

results = response.json()

print("response:", response.status_code)

response: 200

In [4]:
print(response.text)

{"month": "10", "num": 2683, "link": "", "year": "2022", "news": "", "safe_title": "Fan Theories", "transcript": "", "alt": "The universe fandom is great. Such sweet and enthusiastic people.", "img": "https://imgs.xkcd.com/comics/fan_theories.png", "title": "Fan Theories", "day": "10"}

In [5]:
results

{'month': '10',
 'num': 2683,
 'link': '',
 'year': '2022',
 'news': '',
 'safe_title': 'Fan Theories',
 'transcript': '',
 'alt': 'The universe fandom is great. Such sweet and enthusiastic people.',
 'img': 'https://imgs.xkcd.com/comics/fan_theories.png',
 'title': 'Fan Theories',
 'day': '10'}

In [6]:
data = (pd.DataFrame.from_dict(results, orient= 'index')).transpose()
data.head()

  month   num  ...         title day
0    10  2683  ...  Fan Theories  10

[1 rows x 11 columns]

## API 2

In [7]:
response = requests.get('https://services2.arcgis.com/5I7u4SJE1vUr79JC/arcgis/rest/services/UniversityChapters_Public/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json')

results = response.json()

print("response:", response.status_code)

response: 200

In [8]:
# print(response.text)

In [9]:
results['features'][0]

{'attributes': {'OBJECTID': 2,
  'University_Chapter': 'Florida State University',
  'City': 'Tallahassee',
  'State': 'FL',
  'ChapterID': 'FL0110',
  'MEVR_RD': 'Jarrett Lafferty'},
 'geometry': {'x': -84.30427263699994, 'y': 30.438110943000027}}

In [10]:
data = pd.DataFrame.from_dict(results['features'][0], orient= 'index')

for i in range(1, 97):
    data2 = pd.DataFrame.from_dict(results['features'][i], orient= 'index')
    data = pd.concat([data, data2], axis=0)
    
    data

In [11]:
data.head(5)

            OBJECTID  ...          y
attributes       2.0  ...        NaN
geometry         NaN  ...  30.438111
attributes       3.0  ...        NaN
geometry         NaN  ...  31.463418
attributes       4.0  ...        NaN

[5 rows x 8 columns]

In [12]:
data.columns

Index(['OBJECTID', 'University_Chapter', 'City', 'State', 'ChapterID',
       'MEVR_RD', 'x', 'y'],
      dtype='object')

In [13]:
# attributes dataframe
attributes= data[data['x'].isnull() == True]
attributes=attributes[["OBJECTID","University_Chapter","City","State","ChapterID","MEVR_RD"]]
attributes.reset_index(inplace=True)

In [14]:
#geometry dataframe
geometry= data[data['x'].isnull() == False]
geometry=geometry[['x','y']]
geometry.reset_index(inplace=True)

In [15]:
chapters_df = pd.concat([attributes, geometry], axis=1)

chapters_df.head()

        index  OBJECTID  ...          x          y
0  attributes       2.0  ... -84.304273  30.438111
1  attributes       3.0  ... -83.510064  31.463418
2  attributes       4.0  ... -83.383246  33.955464
3  attributes       5.0  ... -81.779237  32.445146
4  attributes       6.0  ... -84.403173  33.759509

[5 rows x 10 columns]

In [16]:
chapters_df.drop(['index','index'], inplace=True, axis=1)

chapters_df.head()

   OBJECTID                    University_Chapter  ...          x          y
0       2.0              Florida State University  ... -84.304273  30.438111
1       3.0  Abraham Baldwin Agricultural College  ... -83.510064  31.463418
2       4.0                 University of Georgia  ... -83.383246  33.955464
3       5.0           Georgia Southern University  ... -81.779237  32.445146
4       6.0               Georgia Tech University  ... -84.403173  33.759509

[5 rows x 8 columns]

## API 3

In [17]:
response = requests.get('https://api.chucknorris.io/jokes/random')

results = response.json()

print("results: ", response.status_code)

results:  200

In [18]:
print(response.text)

{"categories":[],"created_at":"2020-01-05 13:42:26.447675","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"6aV1Skh_R4KVmxbjnX5TGA","updated_at":"2020-01-05 13:42:26.447675","url":"https://api.chucknorris.io/jokes/6aV1Skh_R4KVmxbjnX5TGA","value":"Chuck Norris' hand is the only hand that can beat a royal flush."}

In [19]:
results

{'categories': [],
 'created_at': '2020-01-05 13:42:26.447675',
 'icon_url': 'https://assets.chucknorris.host/img/avatar/chuck-norris.png',
 'id': '6aV1Skh_R4KVmxbjnX5TGA',
 'updated_at': '2020-01-05 13:42:26.447675',
 'url': 'https://api.chucknorris.io/jokes/6aV1Skh_R4KVmxbjnX5TGA',
 'value': "Chuck Norris' hand is the only hand that can beat a royal flush."}

In [20]:
results['value']

"Chuck Norris' hand is the only hand that can beat a royal flush."

In [21]:
data = pd.DataFrame.from_dict(results, orient= 'index').transpose()
data.head(10)

  categories created_at icon_url id updated_at url value
0       None          2        h  6          2   h     C
1       None          0        t  a          0   t     h
2       None          2        t  V          2   t     u
3       None          0        p  1          0   p     c
4       None          -        s  S          -   s     k
5       None          0        :  k          0   :
6       None          1        /  h          1   /     N
7       None          -        /  _          -   /     o
8       None          0        a  R          0   a     r
9       None          5        s  4          5   p     r

In [22]:
# res1_1 = requests.get('https://api.chucknorris.io/jokes/random').json()
# res1_1

In [23]:
# print(res1_1['value'])

In [24]:
def flatten(data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        data = pd.concat([data, flattened], axis=1)
        data = data.drop(column, axis=1)
    return data

## API 4

In [25]:
response = requests.get('https://tenders.guru/api/pl/tenders')

results = response.json()

print("results: ", response.status_code)

results:  200

In [32]:
# print(response.text)

In [27]:
results['data'][0]

{'id': '580850',
 'date': '2022-08-22',
 'deadline_date': '2022-08-30',
 'deadline_length_days': '7',
 'deadline_length_hours': '190',
 'title': 'Dostawa materiałów biurowych i papieru ksero.',
 'category': 'supplies',
 'description': '1. Przedmiotem niniejszego zamówienia jest sukcesywna dostawa materiałów biurowych i papieru ksero, zgodnie z zapisami zawartymi w formularzu asortymentowo-cenowym, stanowiącym załącznik nr 2 do SWZPakiet 1 – materiały biurowe',
 'sid': 'info:154340',
 'awarded_value': '448671.46',
 'awarded_currency': 'PLN',
 'awarded_value_eur': '95533.15',
 'purchaser': {'id': '23041', 'sid': None, 'name': None},
 'type': {'id': 'art-275-pkt-1-ustawy',
  'name': 'art. 275 pkt 1 ustawy',
  'slug': 'art-275-pkt-1-ustawy'},
 'awarded': [{'date': '2022-09-12',
   'value_for_two': 164757.94,
   'value_for_two_eur': 35081.01,
   'suppliers': [{'name': 'PAPIRUS sp. j. M. Górecki, A. Nowicki, J. Karyś',
     'id': 2937,
     'slug': 'papirus-sp-j-m-gorecki-a-nowicki-j-karys'}],
   'value_min': '448671.46',
   'value_for_three': 448671.46,
   'value_for_one_eur': 0,
   'count': '2',
   'value_for_one': 0,
   'offers_declined': [1],
   'value_for_three_eur': 95533.15,
   'suppliers_id': '2937',
   'value_eur': 95533.15,
   'value_max': '490141.50',
   'offers_count': [2, 3],
   'suppliers_name': 'PAPIRUS sp. j. M. Górecki, A. Nowicki, J. Karyś',
   'value': '448671.46',
   'value_estimated': '653940.00',
   'offers_count_data': {'2': {'value_eur': 35081.01,
     'count': '1',
     'value': '164757.94'},
    '3': {'value_eur': 60452.15, 'count': '1', 'value': '283913.52'}}}]}

In [28]:
data = pd.DataFrame.from_dict(results['data'])

data.head(3)

       id  ... indicators
0  580850  ...        NaN
1  579782  ...        NaN
2  578226  ...        NaN

[3 rows x 16 columns]

In [29]:
def flatten(data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        data = pd.concat([data, flattened], axis=1)
        data = data.drop(column, axis=1)
    return data

In [30]:
nested_columns = ['purchaser', 'type']

flat = flatten(data, nested_columns)

flat.head()

       id        date  ...              type_name             type_slug
0  580850  2022-08-22  ...  art. 275 pkt 1 ustawy  art-275-pkt-1-ustawy
1  579782  2022-06-28  ...  art. 275 pkt 1 ustawy  art-275-pkt-1-ustawy
2  578226  2022-06-13  ...  art. 275 pkt 1 ustawy  art-275-pkt-1-ustawy
3  579716  2022-05-04  ...  art. 275 pkt 2 ustawy  art-275-pkt-2-ustawy
4  577218  2022-06-03  ...  art. 275 pkt 1 ustawy  art-275-pkt-1-ustawy

[5 rows x 20 columns]

In [31]:
flat['awarded']

0     [{'date': '2022-09-12', 'value_for_two': 16475...
1     [{'date': '2022-08-09', 'value_for_two': 0, 'v...
2     [{'date': '2022-07-19', 'value_for_two': 10589...
3     [{'date': '2022-06-27', 'value_for_two': 16800...
4     [{'date': '2022-06-21', 'value_for_two': 53474...
5     [{'date': '2022-05-19', 'value_for_two': 57748...
6     [{'date': '2022-04-13', 'value_for_two': 0, 'v...
7     [{'date': '2022-02-17', 'value_for_two': 0, 'v...
8     [{'date': '2022-01-11', 'value_for_two': 30000...
9     [{'date': '2021-12-31', 'value_for_two': 70502...
10    [{'date': '2021-12-31', 'value_for_two': 0, 'v...
11    [{'date': '2021-12-31', 'value_for_two': 92105...
                            ...
88    [{'date': '2021-08-20', 'value_for_two': 0, 'v...
89    [{'date': '2021-08-20', 'value_for_two': 43961...
90    [{'date': '2021-08-20', 'value_for_two': 0, 'v...
91    [{'date': '2021-08-20', 'value_for_two': 0, 'v...
92    [{'date': '2021-08-20', 'value_for_two': 0, 'v...
93    [{'date': '2021-08-20', 'value_for_two': 17401...
94    [{'date': '2021-08-19', 'value_for_two': 17253...
95    [{'date': '2021-08-19', 'value_for_two': 0, 'v...
96    [{'date': '2021-08-19', 'value_for_two': 0, 'v...
97    [{'date': '2021-08-19', 'value_for_two': 10984...
98    [{'date': '2021-08-19', 'value_for_two': 66105...
99    [{'date': '2021-08-19', 'value_for_two': 12915...
Name: awarded, Length: 100, dtype: object