# Workig with API's

In [183]:
import requests

xkcd = requests.get("https://xkcd.com/info.0.json")
print("xkcd:", xkcd.status_code)

arcgis = response = requests.get("https://services2.arcgis.com/5I7u4SJE1vUr79JC/arcgis/rest/services/UniversityChapters_Public/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json")
print("arcgis:", arcgis.status_code)

chucknorris = requests.get("https://api.chucknorris.io/jokes/random")
print("chucknorris:", chucknorris.status_code)

xkcd: 200
arcgis: 200
chucknorris: 200

## API 1

In [135]:
print(xkcd.text)

{"month": "10", "num": 2683, "link": "", "year": "2022", "news": "", "safe_title": "Fan Theories", "transcript": "", "alt": "The universe fandom is great. Such sweet and enthusiastic people.", "img": "https://imgs.xkcd.com/comics/fan_theories.png", "title": "Fan Theories", "day": "10"}

In [184]:
import json # language used often in websites

# JavaScript Object Notation (JSON) is a standard text-based format for representing 
# structured data based on JavaScript object syntax.

response = requests.get('https://xkcd.com/info.0.json')
response
results = response.json()
results

{'month': '10',
 'num': 2683,
 'link': '',
 'year': '2022',
 'news': '',
 'safe_title': 'Fan Theories',
 'transcript': '',
 'alt': 'The universe fandom is great. Such sweet and enthusiastic people.',
 'img': 'https://imgs.xkcd.com/comics/fan_theories.png',
 'title': 'Fan Theories',
 'day': '10'}

In [185]:
import pandas as pd
pd.set_option("display.max_rows", 0)
pd.set_option("display.max_columns", 0)

data = pd.DataFrame.from_dict(results, orient= 'index')
data.head(10)

                                                            0
month                                                      10
num                                                      2683
link
year                                                     2022
news
safe_title                                       Fan Theories
transcript
alt         The universe fandom is great. Such sweet and e...
img             https://imgs.xkcd.com/comics/fan_theories.png
title                                            Fan Theories

In [188]:
data.transpose()

  month   num  ...         title day
0    10  2683  ...  Fan Theories  10

[1 rows x 11 columns]

In [189]:
response = requests.get('https://xkcd.com/info.0.json')
response.json()
data = pd.DataFrame(response.json())
data.head()
# data.shape

ValueError: If using all scalar values, you must pass an index

In [140]:
def flatten(data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        data = pd.concat([data, flattened], axis=1)
        data = data.drop(column, axis=1)
    return data

In [132]:
dict(data['actor'])
pd.DataFrame(dict(data['actor']))
pd.DataFrame(dict(data['actor'])).transpose()

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [102]:
nested_columns = ['actor', 'org', 'payload', 'repo']

flat = flatten(data, nested_columns)
flat

In [79]:
flat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   categories  0 non-null      float64
 1   url         0 non-null      object
 2   value       0 non-null      object
dtypes: float64(1), object(2)
memory usage: 124.0+ bytes

In [103]:
from pandas.io.json import json_normalize

results = response.json()
flattened_data = json_normalize(results)

flattened_data

/var/folders/tr/nqbjf62d721fqy35q732j79m0000gn/T/ipykernel_3864/807225718.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  flattened_data = json_normalize(results)

,objectIdFieldName,globalIdFieldName,geometryType,fields,features,uniqueIdField.name,uniqueIdField.isSystemMaintained,spatialReference.wkid,spatialReference.latestWkid
0,OBJECTID,,esriGeometryPoint,"[{'name': 'OBJECTID', 'type': 'esriFieldTypeOI...","[{'attributes': {'OBJECTID': 2, 'University_Ch...",OBJECTID,True,4326,4326

In [84]:
flattened_data['payload.commits']
flattened_data['payload.commits'][6]

'2020-01-05 13:42:22.701402'

In [27]:
import getpass
apikey = getpass.getpass()

········

In [32]:
response = requests.get('http://api.exchangeratesapi.io/2019-10-26?access_key='+apikey)
#response
results = response.json()
results

{'success': False,
 'error': {'code': 101,
  'type': 'invalid_access_key',
  'info': 'You have not supplied a valid API Access Key. [Technical Support: support@apilayer.com]'}}

In [33]:
results['rates']
data = pd.DataFrame.from_dict(results["rates"], orient="index").reset_index()
data.columns = ["currency", "rate"]
data

KeyError: 'rates'

## API 2

In [141]:
print(arcgis.text)

{"objectIdFieldName":"OBJECTID","uniqueIdField":{"name":"OBJECTID","isSystemMaintained":true},"globalIdFieldName":"","geometryType":"esriGeometryPoint","spatialReference":{"wkid":4326,"latestWkid":4326},"fields":[{"name":"OBJECTID","type":"esriFieldTypeOID","alias":"ObjectID","sqlType":"sqlTypeOther","domain":null,"defaultValue":null},{"name":"University_Chapter","type":"esriFieldTypeString","alias":"University Chapter","sqlType":"sqlTypeOther","length":255,"domain":null,"defaultValue":null},{"name":"City","type":"esriFieldTypeString","alias":"City","sqlType":"sqlTypeOther","length":255,"domain":null,"defaultValue":null},{"name":"State","type":"esriFieldTypeString","alias":"State","sqlType":"sqlTypeOther","length":255,"domain":null,"defaultValue":null},{"name":"ChapterID","type":"esriFieldTypeString","alias":"Chapter ID","sqlType":"sqlTypeOther","length":255,"domain":null,"defaultValue":null},{"name":"MEVR_RD","type":"esriFieldTypeString","alias":"Regional Director","sqlType":"sqlTypeOther","length":255,"domain":null}],"features":[{"attributes":{"OBJECTID":2,"University_Chapter":"Florida State University","City":"Tallahassee","State":"FL","ChapterID":"FL0110","MEVR_RD":"Jarrett Lafferty"},"geometry":{"x":-84.30427263699994,"y":30.438110943000027}},{"attributes":{"OBJECTID":3,"University_Chapter":"Abraham Baldwin Agricultural College","City":"Tifton","State":"GA","ChapterID":"GA0020","MEVR_RD":"Brice Crawford"},"geometry":{"x":-83.51006446699995,"y":31.463418268000055}},{"attributes":{"OBJECTID":4,"University_Chapter":"University of Georgia","City":"Athens","State":"GA","ChapterID":"GA0133","MEVR_RD":"Scott James"},"geometry":{"x":-83.383246442999962,"y":33.955464353000025}},{"attributes":{"OBJECTID":5,"University_Chapter":"Georgia Southern University","City":"Statesboro","State":"GA","ChapterID":"GA0144","MEVR_RD":"Brice Crawford"},"geometry":{"x":-81.779237338999963,"y":32.445146145000024}},{"attributes":{"OBJECTID":6,"University_Chapter":"Georgia Tech University","City":"Atlanta","State":"GA","ChapterID":"GA0147","MEVR_RD":"Scott James"},"geometry":{"x":-84.40317324099999,"y":33.759509211000079}},{"attributes":{"OBJECTID":7,"University_Chapter":"University of Alabama","City":"Tuscaloosa","State":"AL","ChapterID":"AL0107","MEVR_RD":"Neely Raper"},"geometry":{"x":-87.534609192999937,"y":33.206536696000057}},{"attributes":{"OBJECTID":9,"University_Chapter":"Auburn University","City":"Auburn","State":"AL","ChapterID":"AL0114","MEVR_RD":"Neely Raper"},"geometry":{"x":-85.488982012405472,"y":32.602128983247155}},{"attributes":{"OBJECTID":11,"University_Chapter":"Iowa State University","City":"Ames","State":"IA","ChapterID":"IA0104","MEVR_RD":"Josh Finley"},"geometry":{"x":-93.631582490999961,"y":42.027336331000072}},{"attributes":{"OBJECTID":12,"University_Chapter":"Southern Illinois University","City":"Carbondale","State":"IL","ChapterID":"IL0211","MEVR_RD":"Benny Magalski"},"geometry":{"x":-89.220273631999987,"y":37.726417706000063}},{"attributes":{"OBJECTID":13,"University_Chapter":"University of Delaware","City":"Newark","State":"DE","ChapterID":"DE0016","MEVR_RD":"Taylor Deemer"},"geometry":{"x":-75.758037284999943,"y":39.679109347000065}},{"attributes":{"OBJECTID":15,"University_Chapter":"Purdue University","City":"West Lafayette","State":"IN","ChapterID":"IN0120","MEVR_RD":"Josh Hall"},"geometry":{"x":-86.912409518999937,"y":40.441936883000039}},{"attributes":{"OBJECTID":17,"University_Chapter":"Kansas State University","City":"Manhattan","State":"KS","ChapterID":"KS0111","MEVR_RD":"John Ritchey"},"geometry":{"x":-96.58681835799996,"y":39.190145864000044}},{"attributes":{"OBJECTID":19,"University_Chapter":"California Polytechnic State University","City":"San Luis Obispo","State":"CA","ChapterID":"CA0355","MEVR_RD":"Derek Swindall"},"geometry":{"x":-120.66319100299995,"y":35.274309145000075}},{"attributes":{"OBJECTID":21,"University_Chapter":"Louisiana Tech University","City":"Ruston ","State":"LA","ChapterID":"LA0147","MEVR_RD":"Tommy Jackson"},"geometry":{"x":-92.640463850999936,"y":32.529673327000069}},{"attributes":{"OBJECTID":23,"University_Chapter":"University of Central Arkansas","City":"Conway","State":"AR","ChapterID":"AR0124","MEVR_RD":"Bob Butler"},"geometry":{"x":-92.453318654999975,"y":35.087336876000052}},{"attributes":{"OBJECTID":24,"University_Chapter":"U of A Razorback","City":"Fayetteville","State":"AR","ChapterID":"AR0110","MEVR_RD":"Tye Anderson"},"geometry":{"x":-94.160910188999935,"y":36.07638216600003}},{"attributes":{"OBJECTID":25,"University_Chapter":"Louisiana State University","City":"Baton Rouge","State":"LA","ChapterID":"LA0085","MEVR_RD":"Zac Brown"},"geometry":{"x":-91.184172450999938,"y":30.412283033000051}},{"attributes":{"OBJECTID":26,"University_Chapter":"Chico State University","City":"Chico","State":"CA","ChapterID":"CA0300","MEVR_RD":"Brian Henderson"},"geometry":{"x":-121.83546324499997,"y":39.73998176200007}},{"attributes":{"OBJECTID":29,"University_Chapter":"Colorado State University","City":"Fort Collins ","State":"CO","ChapterID":"CO0108","MEVR_RD":"Erik Wettersten"},"geometry":{"x":-105.07830037399998,"y":40.559236561000034}},{"attributes":{"OBJECTID":30,"University_Chapter":"McNeese State University","City":"Lake Charles","State":"LA","ChapterID":"LA0159","MEVR_RD":"Austin Mouton"},"geometry":{"x":-93.208536906999939,"y":30.214655572000026}},{"attributes":{"OBJECTID":31,"University_Chapter":"Michigan State University","City":"Lansing","State":"MI","ChapterID":"MI0010","MEVR_RD":"Craig Curtis"},"geometry":{"x":-84.558523518999948,"y":42.721365267000067}},{"attributes":{"OBJECTID":33,"University_Chapter":"Arkansas Tech University","City":"Russellville","State":"AR","ChapterID":"AR0130","MEVR_RD":"Tye Anderson"},"geometry":{"x":-93.136818772999959,"y":35.278426965000051}},{"attributes":{"OBJECTID":34,"University_Chapter":"University of Michigan ","City":"Ann Arbor","State":"MI","ChapterID":"MI0251","MEVR_RD":"Craig Curtis"},"geometry":{"x":-83.739263696999956,"y":42.274490838000077}},{"attributes":{"OBJECTID":35,"University_Chapter":"University of Louisiana- Lafayette","City":"Lafayette","State":"LA","ChapterID":"LA0149","MEVR_RD":"Austin Mouton"},"geometry":{"x":-92.02936460899997,"y":30.213900460000048}},{"attributes":{"OBJECTID":36,"University_Chapter":"Minnesota State University","City":"Mankato","State":"MN","ChapterID":"MN0255","MEVR_RD":"Ben Vaughn"},"geometry":{"x":-93.993800299999975,"y":44.164500602000032}},{"attributes":{"OBJECTID":37,"University_Chapter":"Bemidji State University","City":"Bemidji","State":"MN","ChapterID":"MN0221","MEVR_RD":"Dalton Rosin"},"geometry":{"x":-94.877737304999982,"y":47.476526828000033}},{"attributes":{"OBJECTID":38,"University_Chapter":"Winona State University ","City":"Winona ","State":"MN","ChapterID":"MN0325","MEVR_RD":"Ben Vaughn"},"geometry":{"x":-91.647155071999975,"y":44.048155033000057}},{"attributes":{"OBJECTID":40,"University_Chapter":"University of Mississippi","City":"Oxford","State":"MS","ChapterID":"MS0114","MEVR_RD":"Hunter Pridgen"},"geometry":{"x":-89.526246194999942,"y":34.359836403000031}},{"attributes":{"OBJECTID":41,"University_Chapter":"Mississippi State University","City":"Starkville","State":"MS","ChapterID":"MS0123","MEVR_RD":"Hunter Pridgen"},"geometry":{"x":-88.819992089999971,"y":33.462473554000042}},{"attributes":{"OBJECTID":43,"University_Chapter":"Murray State University","City":"Murray","State":"KY","ChapterID":"KY0082","MEVR_RD":"Bob Bezkor"},"geometry":{"x":-88.315655449999952,"y":36.609491730000059}},{"attributes":{"OBJECTID":44,"University_Chapter":"Montana State University","City":"Bozeman","State":"MT","ChapterID":"MT0071","MEVR_RD":"Barry Allen"},"geometry":{"x":-111.04727341899996,"y":45.677891384000077}},{"attributes":{"OBJECTID":45,"University_Chapter":"University of Minnesota- Duluth","City":"Duluth","State":"MN","ChapterID":"MN0293","MEVR_RD":"Rodney Schlafer"},"geometry":{"x":-92.117081935999977,"y":46.780372542000066}},{"attributes":{"OBJECTID":47,"University_Chapter":"North Carolina State University","City":"Raleigh","State":"NC","ChapterID":"NC0162","MEVR_RD":"Andrew Williams"},"geometry":{"x":-78.681671018421767,"y":35.731931010436526}},{"attributes":{"OBJECTID":48,"University_Chapter":"Missouri State University","City":"Springfield","State":"MO","ChapterID":"MO0171","MEVR_RD":"Todd Carlton"},"geometry":{"x":-93.286209762999988,"y":37.195100106000041}},{"attributes":{"OBJECTID":49,"University_Chapter":"University of Minnesota","City":"Minneapolis","State":"MN","ChapterID":"MN0323","MEVR_RD":"John Marks"},"geometry":{"x":-93.268200332999982,"y":44.964463718000047}},{"attributes":{"OBJECTID":50,"University_Chapter":"University of North Carolina at Chapel Hill","City":"Chapel Hill","State":"NC","ChapterID":"NC0166","MEVR_RD":"Andrew Williams"},"geometry":{"x":-79.048691080011409,"y":35.908783755451026}},{"attributes":{"OBJECTID":52,"University_Chapter":"University of North Carolina at Wilmington ","City":"Wilmington","State":"NC","ChapterID":"NC0171","MEVR_RD":"Dave Neal"},"geometry":{"x":-77.912118955999972,"y":34.223236619000033}},{"attributes":{"OBJECTID":53,"University_Chapter":"Appalachian State University","City":"Boone","State":"NC","ChapterID":"NC0125","MEVR_RD":"Jon Sturgill"},"geometry":{"x":-81.668655400999967,"y":36.211364058000072}},{"attributes":{"OBJECTID":54,"University_Chapter":"University of Missouri","City":"Columbia ","State":"MO","ChapterID":"MO0160","MEVR_RD":"Trevor Hickman"},"geometry":{"x":-92.333781726999973,"y":38.948355010000057}},{"attributes":{"OBJECTID":55,"University_Chapter":"University of Nevada- Reno","City":"Reno","State":"NV","ChapterID":"NV0046","MEVR_RD":"Billie Ray Fann"},"geometry":{"x":-119.82180863499997,"y":39.527109286000041}},{"attributes":{"OBJECTID":58,"University_Chapter":"State University of New York College of Environmental Science and Forestry","City":"Syracuse ","State":"NY","ChapterID":"NY0225","MEVR_RD":"Trevor Bentley"},"geometry":{"x":-76.144427083999972,"y":43.04690049900006}},{"attributes":{"OBJECTID":59,"University_Chapter":"University of Southern Mississippi","City":"Hattiesburg","State":"MS","ChapterID":"MS0131","MEVR_RD":"Tommy Ware"},"geometry":{"x":-89.308654704999981,"y":31.31597266600005}},{"attributes":{"OBJECTID":60,"University_Chapter":"Oklahoma State University","City":"Stillwater","State":"OK","ChapterID":"OK0119","MEVR_RD":"Nathan Johnson"},"geometry":{"x":-97.068537336999952,"y":36.121536725000055}},{"attributes":{"OBJECTID":61,"University_Chapter":"Lake Superior State University","City":"Sault Ste. Marie ","State":"MI","ChapterID":"MI0229","MEVR_RD":"Kevin Stoltz"},"geometry":{"x":-84.364238327999942,"y":46.493349469000066}},{"attributes":{"OBJECTID":63,"University_Chapter":"Citadel College","City":"Charleston","State":"SC","ChapterID":"SC0085","MEVR_RD":"James Meadows"},"geometry":{"x":-79.961664449750771,"y":32.796290336194616}},{"attributes":{"OBJECTID":64,"University_Chapter":"Wofford College","City":"Spartanburg","State":"SC","ChapterID":"SC0089","MEVR_RD":"Tanner Quattlebaum"},"geometry":{"x":-81.927600302999963,"y":34.946773486000041}},{"attributes":{"OBJECTID":65,"University_Chapter":"Anderson University","City":"Anderson ","State":"SC","ChapterID":"SC0101","MEVR_RD":"Tanner Quattlebaum"},"geometry":{"x":-82.648946258999956,"y":34.514509031000046}},{"attributes":{"OBJECTID":66,"University_Chapter":"East Carolina University","City":"Greenville","State":"NC","ChapterID":"NC0168","MEVR_RD":"Dave Neal"},"geometry":{"x":-77.372364628999946,"y":35.60160959500007}},{"attributes":{"OBJECTID":67,"University_Chapter":"Clemson University","City":"Clemson","State":"SC","ChapterID":"SC0082","MEVR_RD":"Tanner Quattlebaum"},"geometry":{"x":-82.814773351999975,"y":34.684927723000044}},{"attributes":{"OBJECTID":70,"University_Chapter":"University of Tennessee-Knoxville","City":"Knoxville","State":"TN","ChapterID":"TN0087","MEVR_RD":"Charlie Lowery"},"geometry":{"x":-83.942164490999971,"y":35.97288185900004}},{"attributes":{"OBJECTID":73,"University_Chapter":"University of South Carolina","City":"Columbia ","State":"SC","ChapterID":"SC0079","MEVR_RD":"James Meadows"},"geometry":{"x":-81.010755332999963,"y":34.017109246000075}},{"attributes":{"OBJECTID":74,"University_Chapter":"Furman  University","City":"Greenville","State":"SC","ChapterID":"SC0083","MEVR_RD":"Tanner Quattlebaum"},"geometry":{"x":-82.385427762999939,"y":34.844309464000048}},{"attributes":{"OBJECTID":75,"University_Chapter":"University of Oklahoma","City":"Norman","State":"OK","ChapterID":"OK0116","MEVR_RD":"Nathan Johnson"},"geometry":{"x":-97.443470931412051,"y":35.188235574216606}},{"attributes":{"OBJECTID":76,"University_Chapter":"Texas A&M University","City":"College Station","State":"TX","ChapterID":"TX0217","MEVR_RD":"Rob Wilson"},"geometry":{"x":-96.346168147555971,"y":30.605795670052562}},{"attributes":{"OBJECTID":77,"University_Chapter":"Texas A&M University-Kingsville","City":"Kingsville","State":"TX","ChapterID":"TX0176","MEVR_RD":"Clint Pace"},"geometry":{"x":-97.865510153999992,"y":27.51502722500004}},{"attributes":{"OBJECTID":78,"University_Chapter":"University of Tennessee at Martin","City":"Martin","State":"TN","ChapterID":"TN0117","MEVR_RD":"Jimbo Robinson"},"geometry":{"x":-88.865615256549859,"y":36.340967939914428}},{"attributes":{"OBJECTID":79,"University_Chapter":"University of Nebraska- Lincoln","City":"Lincoln","State":"NE","ChapterID":"NE0101","MEVR_RD":"Steve Wilson"},"geometry":{"x":-96.710623551937445,"y":40.817151817135908}},{"attributes":{"OBJECTID":80,"University_Chapter":"Texas Tech University","City":"Lubbock","State":"TX","ChapterID":"TX0164","MEVR_RD":"Randall Foster"},"geometry":{"x":-101.87288813892019,"y":33.591060461613644}},{"attributes":{"OBJECTID":81,"University_Chapter":"James Madison University","City":"Harrisonburg","State":"VA","ChapterID":"VA0100","MEVR_RD":"Shawn Kooyman"},"geometry":{"x":-78.872755544999961,"y":38.443282004000025}},{"attributes":{"OBJECTID":82,"University_Chapter":"University of Wisconsin-Madison","City":"Madison","State":"WI","ChapterID":"WI0303","MEVR_RD":"William Gross"},"geometry":{"x":-89.394755128999975,"y":43.074609771000041}},{"attributes":{"OBJECTID":83,"University_Chapter":"Milwaukee School of Engineering ","City":"Milwaukee","State":"WI","ChapterID":"WI0328","MEVR_RD":"Tom Munich"},"geometry":{"x":-87.955909370999962,"y":43.052164101000074}},{"attributes":{"OBJECTID":85,"University_Chapter":"Tennessee Tech University","City":"Cookeville","State":"TN","ChapterID":"TN0111","MEVR_RD":"Charlie Lowery"},"geometry":{"x":-85.506150414847326,"y":36.178118883774594}},{"attributes":{"OBJECTID":87,"University_Chapter":"Stephen F. Austin State University","City":"Nacogdoches","State":"TX","ChapterID":"TX0255","MEVR_RD":"Jason McKey"},"geometry":{"x":-94.64438432302,"y":31.625721030118193}},{"attributes":{"OBJECTID":88,"University_Chapter":"Virginia Tech University","City":"Blacksburg","State":"VA","ChapterID":"VA0089","MEVR_RD":"Shawn Kooyman"},"geometry":{"x":-80.417691218999948,"y":37.229873329000043}},{"attributes":{"OBJECTID":91,"University_Chapter":"University of Wisconsin-Stevens Point","City":"Stevens Point","State":"WI","ChapterID":"WI0340","MEVR_RD":"Michael Brumley"},"geometry":{"x":-89.560318510999991,"y":44.523036516000047}},{"attributes":{"OBJECTID":92,"University_Chapter":"University of Wisconsin-Green Bay","City":"Green Bay","State":"WI","ChapterID":"WI0337","MEVR_RD":"Chris Anderson"},"geometry":{"x":-88.015791810999986,"y":44.513446041000066}},{"attributes":{"OBJECTID":494,"University_Chapter":"University of North Georgia","City":"Dahlonega","State":"GA","ChapterID":"GA0173","MEVR_RD":"Scott James"},"geometry":{"x":-83.984070824999947,"y":34.527711047000025}},{"attributes":{"OBJECTID":895,"University_Chapter":"College of Saint Benedict & Saint John's University","City":"St. Joseph","State":"MN","ChapterID":"MN0295","MEVR_RD":"Kyle Momsen"},"geometry":{"x":-94.32021552599997,"y":45.558805661000065}},{"attributes":{"OBJECTID":897,"University_Chapter":"Sewnee: The University of the South","City":"Sewanee","State":"TN","ChapterID":"TN0096","MEVR_RD":"Charlie Lowery"},"geometry":{"x":-85.91893143599998,"y":35.204197456000031}},{"attributes":{"OBJECTID":1295,"University_Chapter":"Gustavus Adolphus College","City":"St. Peter","State":"MN","ChapterID":"MN0335","MEVR_RD":"Ben Vaughn"},"geometry":{"x":-93.971489954999981,"y":44.323282730000074}},{"attributes":{"OBJECTID":1297,"University_Chapter":"Michigan Tech University","City":"Houghton","State":"MI","ChapterID":"MI0248","MEVR_RD":"Kevin Stoltz"},"geometry":{"x":-88.549947877999955,"y":47.110223528000063}},{"attributes":{"OBJECTID":1299,"University_Chapter":"Washington and Lee University","City":"Lexington","State":"VA","ChapterID":"VA0083","MEVR_RD":null},"geometry":{"x":-79.445957614999941,"y":37.790720423000039}},{"attributes":{"OBJECTID":1300,"University_Chapter":"Randolph-Macon College","City":"Ashland","State":"VA","ChapterID":"VA0101","MEVR_RD":"Shawn Kooyman"},"geometry":{"x":-77.477613676999965,"y":37.764207472000066}},{"attributes":{"OBJECTID":1696,"University_Chapter":"State University of New York at Cobleskill","City":"Cobleskill","State":"NY","ChapterID":"NY0222","MEVR_RD":"Eric Mathiesen"},"geometry":{"x":-74.504260647999956,"y":42.67182015800006}},{"attributes":{"OBJECTID":1698,"University_Chapter":"Texas State University","City":"Marcos","State":"TX","ChapterID":"TX0246","MEVR_RD":"Rob Wilson"},"geometry":{"x":-97.939955002999966,"y":29.889025091000065}},{"attributes":{"OBJECTID":1699,"University_Chapter":"Hampden-Sydney College","City":"Farmville","State":"VA","ChapterID":"VA0090","MEVR_RD":"Shawn Kooyman"},"geometry":{"x":-78.459182202999955,"y":37.243520854000053}},{"attributes":{"OBJECTID":1700,"University_Chapter":"University of Wisconsin-Stout","City":"Stout","State":"WI","ChapterID":"WI0342","MEVR_RD":"Rodney Schlafer"},"geometry":{"x":-91.92780072499994,"y":44.873682448000068}},{"attributes":{"OBJECTID":1708,"University_Chapter":"University of Tennessee-Chattanooga","City":"Chattanooga","State":"TN","ChapterID":"TN132","MEVR_RD":"Charlie Lowery"},"geometry":{"x":-85.297460941772442,"y":35.045264131127055}},{"attributes":{"OBJECTID":1711,"University_Chapter":"University of Wisconsin-Whitewater","City":"Whitewater","State":"WI","ChapterID":"WI0331","MEVR_RD":"Tom Munich"},"geometry":{"x":-88.743578134918138,"y":42.837195780105226}},{"attributes":{"OBJECTID":1712,"University_Chapter":"Georgia College & State University","City":"Milledgeville","State":"GA","ChapterID":"GA0151","MEVR_RD":"Brice Crawford"},"geometry":{"x":-83.228505862426715,"y":33.080997978037487}},{"attributes":{"OBJECTID":1715,"University_Chapter":"University of Virginia","City":"Charlottesville","State":"VA","ChapterID":"VA0088","MEVR_RD":"Shawn Kooyman"},"geometry":{"x":-78.515739148254653,"y":38.033886106835538}},{"attributes":{"OBJECTID":1716,"University_Chapter":"Campbell University","City":"Buies Creek","State":"NC","ChapterID":"NC0144","MEVR_RD":"Dave Neal"},"geometry":{"x":-78.739453644180713,"y":35.408358577835443}},{"attributes":{"OBJECTID":1717,"University_Chapter":"University of Arizona","City":"Tuscon","State":"AZ","ChapterID":"AZ0070","MEVR_RD":"Andrew Limmer"},"geometry":{"x":-110.95388132263207,"y":32.231896753417089}},{"attributes":{"OBJECTID":1720,"University_Chapter":"Northern Michigan University","City":"Marquette","State":"MI","ChapterID":"MI0256","MEVR_RD":"Kevin L. Stoltz"},"geometry":{"x":-87.406636519125982,"y":46.558718746154319}},{"attributes":{"OBJECTID":1722,"University_Chapter":"University of Nebraska- Kearney","City":"Kearney","State":"NE","ChapterID":"NE0116","MEVR_RD":"Pat Baughman"},"geometry":{"x":-99.096349967689292,"y":40.701703292254813}},{"attributes":{"OBJECTID":1723,"University_Chapter":"Ohio State University","City":"Columbus","State":"OH","ChapterID":"OH0131","MEVR_RD":"Aaron Dynes"},"geometry":{"x":-

In [142]:
import json

response = requests.get('https://services2.arcgis.com/5I7u4SJE1vUr79JC/arcgis/rest/services/UniversityChapters_Public/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json')
response
results = response.json()
results

{'objectIdFieldName': 'OBJECTID',
 'uniqueIdField': {'name': 'OBJECTID', 'isSystemMaintained': True},
 'globalIdFieldName': '',
 'geometryType': 'esriGeometryPoint',
 'spatialReference': {'wkid': 4326, 'latestWkid': 4326},
 'fields': [{'name': 'OBJECTID',
   'type': 'esriFieldTypeOID',
   'alias': 'ObjectID',
   'sqlType': 'sqlTypeOther',
   'domain': None,
   'defaultValue': None},
  {'name': 'University_Chapter',
   'type': 'esriFieldTypeString',
   'alias': 'University Chapter',
   'sqlType': 'sqlTypeOther',
   'length': 255,
   'domain': None,
   'defaultValue': None},
  {'name': 'City',
   'type': 'esriFieldTypeString',
   'alias': 'City',
   'sqlType': 'sqlTypeOther',
   'length': 255,
   'domain': None,
   'defaultValue': None},
  {'name': 'State',
   'type': 'esriFieldTypeString',
   'alias': 'State',
   'sqlType': 'sqlTypeOther',
   'length': 255,
   'domain': None,
   'defaultValue': None},
  {'name': 'ChapterID',
   'type': 'esriFieldTypeString',
   'alias': 'Chapter ID',
   'sqlType': 'sqlTypeOther',
   'length': 255,
   'domain': None,
   'defaultValue': None},
  {'name': 'MEVR_RD',
   'type': 'esriFieldTypeString',
   'alias': 'Regional Director',
   'sqlType': 'sqlTypeOther',
   'length': 255,
   'domain': None}],
 'features': [{'attributes': {'OBJECTID': 2,
    'University_Chapter': 'Florida State University',
    'City': 'Tallahassee',
    'State': 'FL',
    'ChapterID': 'FL0110',
    'MEVR_RD': 'Jarrett Lafferty'},
   'geometry': {'x': -84.30427263699994, 'y': 30.438110943000027}},
  {'attributes': {'OBJECTID': 3,
    'University_Chapter': 'Abraham Baldwin Agricultural College',
    'City': 'Tifton',
    'State': 'GA',
    'ChapterID': 'GA0020',
    'MEVR_RD': 'Brice Crawford'},
   'geometry': {'x': -83.51006446699995, 'y': 31.463418268000055}},
  {'attributes': {'OBJECTID': 4,
    'University_Chapter': 'University of Georgia',
    'City': 'Athens',
    'State': 'GA',
    'ChapterID': 'GA0133',
    'MEVR_RD': 'Scott James'},
   'geometry': {'x': -83.38324644299996, 'y': 33.955464353000025}},
  {'attributes': {'OBJECTID': 5,
    'University_Chapter': 'Georgia Southern University',
    'City': 'Statesboro',
    'State': 'GA',
    'ChapterID': 'GA0144',
    'MEVR_RD': 'Brice Crawford'},
   'geometry': {'x': -81.77923733899996, 'y': 32.445146145000024}},
  {'attributes': {'OBJECTID': 6,
    'University_Chapter': 'Georgia Tech University',
    'City': 'Atlanta',
    'State': 'GA',
    'ChapterID': 'GA0147',
    'MEVR_RD': 'Scott James'},
   'geometry': {'x': -84.40317324099999, 'y': 33.75950921100008}},
  {'attributes': {'OBJECTID': 7,
    'University_Chapter': 'University of Alabama',
    'City': 'Tuscaloosa',
    'State': 'AL',
    'ChapterID': 'AL0107',
    'MEVR_RD': 'Neely Raper'},
   'geometry': {'x': -87.53460919299994, 'y': 33.20653669600006}},
  {'attributes': {'OBJECTID': 9,
    'University_Chapter': 'Auburn University',
    'City': 'Auburn',
    'State': 'AL',
    'ChapterID': 'AL0114',
    'MEVR_RD': 'Neely Raper'},
   'geometry': {'x': -85.48898201240547, 'y': 32.602128983247155}},
  {'attributes': {'OBJECTID': 11,
    'University_Chapter': 'Iowa State University',
    'City': 'Ames',
    'State': 'IA',
    'ChapterID': 'IA0104',
    'MEVR_RD': 'Josh Finley'},
   'geometry': {'x': -93.63158249099996, 'y': 42.02733633100007}},
  {'attributes': {'OBJECTID': 12,
    'University_Chapter': 'Southern Illinois University',
    'City': 'Carbondale',
    'State': 'IL',
    'ChapterID': 'IL0211',
    'MEVR_RD': 'Benny Magalski'},
   'geometry': {'x': -89.22027363199999, 'y': 37.72641770600006}},
  {'attributes': {'OBJECTID': 13,
    'University_Chapter': 'University of Delaware',
    'City': 'Newark',
    'State': 'DE',
    'ChapterID': 'DE0016',
    'MEVR_RD': 'Taylor Deemer'},
   'geometry': {'x': -75.75803728499994, 'y': 39.679109347000065}},
  {'attributes': {'OBJECTID': 15,
    'University_Chapter': 'Purdue University',
    'City': 'West Lafayette',
    'State': 'IN',
    'ChapterID': 'IN0120',
    'MEVR_RD': 'Josh Hall'},
   'geometry': {'x': -86.91240951899994, 'y': 40.44193688300004}},
  {'attributes': {'OBJECTID': 17,
    'University_Chapter': 'Kansas State University',
    'City': 'Manhattan',
    'State': 'KS',
    'ChapterID': 'KS0111',
    'MEVR_RD': 'John Ritchey'},
   'geometry': {'x': -96.58681835799996, 'y': 39.190145864000044}},
  {'attributes': {'OBJECTID': 19,
    'University_Chapter': 'California Polytechnic State University',
    'City': 'San Luis Obispo',
    'State': 'CA',
    'ChapterID': 'CA0355',
    'MEVR_RD': 'Derek Swindall'},
   'geometry': {'x': -120.66319100299995, 'y': 35.274309145000075}},
  {'attributes': {'OBJECTID': 21,
    'University_Chapter': 'Louisiana Tech University',
    'City': 'Ruston ',
    'State': 'LA',
    'ChapterID': 'LA0147',
    'MEVR_RD': 'Tommy Jackson'},
   'geometry': {'x': -92.64046385099994, 'y': 32.52967332700007}},
  {'attributes': {'OBJECTID': 23,
    'University_Chapter': 'University of Central Arkansas',
    'City': 'Conway',
    'State': 'AR',
    'ChapterID': 'AR0124',
    'MEVR_RD': 'Bob Butler'},
   'geometry': {'x': -92.45331865499998, 'y': 35.08733687600005}},
  {'attributes': {'OBJECTID': 24,
    'University_Chapter': 'U of A Razorback',
    'City': 'Fayetteville',
    'State': 'AR',
    'ChapterID': 'AR0110',
    'MEVR_RD': 'Tye Anderson'},
   'geometry': {'x': -94.16091018899994, 'y': 36.07638216600003}},
  {'attributes': {'OBJECTID': 25,
    'University_Chapter': 'Louisiana State University',
    'City': 'Baton Rouge',
    'State': 'LA',
    'ChapterID': 'LA0085',
    'MEVR_RD': 'Zac Brown'},
   'geometry': {'x': -91.18417245099994, 'y': 30.41228303300005}},
  {'attributes': {'OBJECTID': 26,
    'University_Chapter': 'Chico State University',
    'City': 'Chico',
    'State': 'CA',
    'ChapterID': 'CA0300',
    'MEVR_RD': 'Brian Henderson'},
   'geometry': {'x': -121.83546324499997, 'y': 39.73998176200007}},
  {'attributes': {'OBJECTID': 29,
    'University_Chapter': 'Colorado State University',
    'City': 'Fort Collins ',
    'State': 'CO',
    'ChapterID': 'CO0108',
    'MEVR_RD': 'Erik Wettersten'},
   'geometry': {'x': -105.07830037399998, 'y': 40.559236561000034}},
  {'attributes': {'OBJECTID': 30,
    'University_Chapter': 'McNeese State University',
    'City': 'Lake Charles',
    'State': 'LA',
    'ChapterID': 'LA0159',
    'MEVR_RD': 'Austin Mouton'},
   'geometry': {'x': -93.20853690699994, 'y': 30.214655572000026}},
  {'attributes': {'OBJECTID': 31,
    'University_Chapter': 'Michigan State University',
    'City': 'Lansing',
    'State': 'MI',
    'ChapterID': 'MI0010',
    'MEVR_RD': 'Craig Curtis'},
   'geometry': {'x': -84.55852351899995, 'y': 42.72136526700007}},
  {'attributes': {'OBJECTID': 33,
    'University_Chapter': 'Arkansas Tech University',
    'City': 'Russellville',
    'State': 'AR',
    'ChapterID': 'AR0130',
    'MEVR_RD': 'Tye Anderson'},
   'geometry': {'x': -93.13681877299996, 'y': 35.27842696500005}},
  {'attributes': {'OBJECTID': 34,
    'University_Chapter': 'University of Michigan ',
    'City': 'Ann Arbor',
    'State': 'MI',
    'ChapterID': 'MI0251',
    'MEVR_RD': 'Craig Curtis'},
   'geometry': {'x': -83.73926369699996, 'y': 42.27449083800008}},
  {'attributes': {'OBJECTID': 35,
    'University_Chapter': 'University of Louisiana- Lafayette',
    'City': 'Lafayette',
    'State': 'LA',
    'ChapterID': 'LA0149',
    'MEVR_RD': 'Austin Mouton'},
   'geometry': {'x': -92.02936460899997, 'y': 30.213900460000048}},
  {'attributes': {'OBJECTID': 36,
    'University_Chapter': 'Minnesota State University',
    'City': 'Mankato',
    'State': 'MN',
    'ChapterID': 'MN0255',
    'MEVR_RD': 'Ben Vaughn'},
   'geometry': {'x': -93.99380029999998, 'y': 44.16450060200003}},
  {'attributes': {'OBJECTID': 37,
    'University_Chapter': 'Bemidji State University',
    'City': 'Bemidji',
    'State': 'MN',
    'ChapterID': 'MN0221',
    'MEVR_RD': 'Dalton Rosin'},
   'geometry': {'x': -94.87773730499998, 'y': 47.47652682800003}},
  {'attributes': {'OBJECTID': 38,
    'University_Chapter': 'Winona State University ',
    'City': 'Winona ',
    'State': 'MN',
    'ChapterID': 'MN0325',
    'MEVR_RD': 'Ben Vaughn'},
   'geometry': {'x': -91.64715507199998, 'y': 44.04815503300006}},
  {'attributes': {'OBJECTID': 40,
    'University_Chapter': 'University of Mississippi',
    'City': 'Oxford',
    'State': 'MS',
    'ChapterID': 'MS0114',
    'MEVR_RD': 'Hunter Pridgen'},
   'geometry': {'x': -89.52624619499994, 'y': 34.35983640300003}},
  {'attributes': {'OBJECTID': 41,
    'University_Chapter': 'Mississippi State University',
    'City': 'Starkville',
    'State': 'MS',
    'ChapterID': 'MS0123',
    'MEVR_RD': 'Hunter Pridgen'},
   'geometry': {'x': -88.81999208999997, 'y': 33.46247355400004}},
  {'attributes': {'OBJECTID': 43,
    'University_Chapter': 'Murray State University',
    'City': 'Murray',
    'State': 'KY',
    'ChapterID': 'KY0082',
    'MEVR_RD': 'Bob Bezkor'},
   'geometry': {'x': -88.31565544999995, 'y': 36.60949173000006}},
  {'attributes': {'OBJECTID': 44,
    'University_Chapter': 'Montana State University',
    'City': 'Bozeman',
    'State': 'MT',
    'ChapterID': 'MT0071',
    'MEVR_RD': 'Barry Allen'},
   'geometry': {'x': -111.04727341899996, 'y': 45.67789138400008}},
  {'attributes': {'OBJECTID': 45,
    'University_Chapter': 'University of Minnesota- Duluth',
    'City': 'Duluth',
    'State': 'MN',
    'ChapterID': 'MN0293',
    'MEVR_RD': 'Rodney Schlafer'},
   'geometry': {'x': -92.11708193599998, 'y': 46.780372542000066}},
  {'attributes': {'OBJECTID': 47,
    'University_Chapter': 'North Carolina State University',
    'City': 'Raleigh',
    'State': 'NC',
    'ChapterID': 'NC0162',
    'MEVR_RD': 'Andrew Williams'},
   'geometry': {'x': -78.68167101842177, 'y': 35.731931010436526}},
  {'attributes': {'OBJECTID': 48,
    'University_Chapter': 'Missouri State University',
    'City': 'Springfield',
    'State': 'MO',
    'ChapterID': 'MO0171',
    'MEVR_RD': 'Todd Carlton'},
   'geometry': {'x': -93.28620976299999, 'y': 37.19510010600004}},
  {'attributes': {'OBJECTID': 49,
    'University_Chapter': 'University of Minnesota',
    'City': 'Minneapolis',
    'State': 'MN',
    'ChapterID': 'MN0323',
    'MEVR_RD': 'John Marks'},
   'geometry': {'x': -93.26820033299998, 'y': 44.96446371800005}},
  {'attributes': {'OBJECTID': 50,
    'University_Chapter': 'University of North Carolina at Chapel Hill',
    'City': 'Chapel Hill',
    'State': 'NC',
    'ChapterID': 'NC0166',
    'MEVR_RD': 'Andrew Williams'},
   'geometry': {'x': -79.04869108001141, 'y': 35.908783755451026}},
  {'attributes': {'OBJECTID': 52,
    'University_Chapter': 'University of North Carolina at Wilmington ',
    'City': 'Wilmington',
    'State': 'NC',
    'ChapterID': 'NC0171',
    'MEVR_RD': 'Dave Neal'},
   'geometry': {'x': -77.91211895599997, 'y': 34.22323661900003}},
  {'attributes': {'OBJECTID': 53,
    'University_Chapter': 'Appalachian State University',
    'City': 'Boone',
    'State': 'NC',
    'ChapterID': 'NC0125',
    'MEVR_RD': 'Jon Sturgill'},
   'geometry': {'x': -81.66865540099997, 'y': 36.21136405800007}},
  {'attributes': {'OBJECTID': 54,
    'University_Chapter': 'University of Missouri',
    'City': 'Columbia ',
    'State': 'MO',
    'ChapterID': 'MO0160',
    'MEVR_RD': 'Trevor Hickman'},
   'geometry': {'x': -92.33378172699997, 'y': 38.94835501000006}},
  {'attributes': {'OBJECTID': 55,
    'University_Chapter': 'University of Nevada- Reno',
    'City': 'Reno',
    'State': 'NV',
    'ChapterID': 'NV0046',
    'MEVR_RD': 'Billie Ray Fann'},
   'geometry': {'x': -119.82180863499997, 'y': 39.52710928600004}},
  {'attributes': {'OBJECTID': 58,
    'University_Chapter': 'State University of New York College of Environmental Science and Forestry',
    'City': 'Syracuse ',
    'State': 'NY',
    'ChapterID': 'NY0225',
    'MEVR_RD': 'Trevor Bentley'},
   'geometry': {'x': -76.14442708399997, 'y': 43.04690049900006}},
  {'attributes': {'OBJECTID': 59,
    'University_Chapter': 'University of Southern Mississippi',
    'City': 'Hattiesburg',
    'State': 'MS',
    'ChapterID': 'MS0131',
    'MEVR_RD': 'Tommy Ware'},
   'geometry': {'x': -89.30865470499998, 'y': 31.31597266600005}},
  {'attributes': {'OBJECTID': 60,
    'University_Chapter': 'Oklahoma State University',
    'City': 'Stillwater',
    'State': 'OK',
    'ChapterID': 'OK0119',
    'MEVR_RD': 'Nathan Johnson'},
   'geometry': {'x': -97.06853733699995, 'y': 36.121536725000055}},
  {'attributes': {'OBJECTID': 61,
    'University_Chapter': 'Lake Superior State University',
    'City': 'Sault Ste. Marie ',
    'State': 'MI',
    'ChapterID': 'MI0229',
    'MEVR_RD': 'Kevin Stoltz'},
   'geometry': {'x': -84.36423832799994, 'y': 46.493349469000066}},
  {'attributes': {'OBJECTID': 63,
    'University_Chapter': 'Citadel College',
    'City': 'Charleston',
    'State': 'SC',
    'ChapterID': 'SC0085',
    'MEVR_RD': 'James Meadows'},
   'geometry': {'x': -79.96166444975077, 'y': 32.796290336194616}},
  {'attributes': {'OBJECTID': 64,
    'University_Chapter': 'Wofford College',
    'City': 'Spartanburg',
    'State': 'SC',
    'ChapterID': 'SC0089',
    'MEVR_RD': 'Tanner Quattlebaum'},
   'geometry': {'x': -81.92760030299996, 'y': 34.94677348600004}},
  {'attributes': {'OBJECTID': 65,
    'University_Chapter': 'Anderson University',
    'City': 'Anderson ',
    'State': 'SC',
    'ChapterID': 'SC0101',
    'MEVR_RD': 'Tanner Quattlebaum'},
   'geometry': {'x': -82.64894625899996, 'y': 34.514509031000046}},
  {'attributes': {'OBJECTID': 66,
    'University_Chapter': 'East Carolina University',
    'City': 'Greenville',
    'State': 'NC',
    'ChapterID': 'NC0168',
    'MEVR_RD': 'Dave Neal'},
   'geometry': {'x': -77.37236462899995, 'y': 35.60160959500007}},
  {'attributes': {'OBJECTID': 67,
    'University_Chapter': 'Clemson University',
    'City': 'Clemson',
    'State': 'SC',
    'ChapterID': 'SC0082',
    'MEVR_RD': 'Tanner Quattlebaum'},
   'geometry': {'x': -82.81477335199997, 'y': 34.684927723000044}},
  {'attributes': {'OBJECTID': 70,
    'University_Chapter': 'University of Tennessee-Knoxville',
    'City': 'Knoxville',
    'State': 'TN',
    'ChapterID': 'TN0087',
    'MEVR_RD': 'Charlie Lowery'},
   'geometry': {'x': -83.94216449099997, 'y': 35.97288185900004}},
  {'attributes': {'OBJECTID': 73,
    'University_Chapter': 'University of South Carolina',
    'City': 'Columbia ',
    'State': 'SC',
    'ChapterID': 'SC0079',
    'MEVR_RD': 'James Meadows'},
   'geometry': {'x': -81.01075533299996, 'y': 34.017109246000075}},
  {'attributes': {'OBJECTID': 74,
    'University_Chapter': 'Furman  University',
    'City': 'Greenville',
    'State': 'SC',
    'ChapterID': 'SC0083',
    'MEVR_RD': 'Tanner Quattlebaum'},
   'geometry': {'x': -82.38542776299994, 'y': 34.84430946400005}},
  {'attributes': {'OBJECTID': 75,
    'University_Chapter': 'University of Oklahoma',
    'City': 'Norman',
    'State': 'OK',
    'ChapterID': 'OK0116',
    'MEVR_RD': 'Nathan Johnson'},
   'geometry': {'x': -97.44347093141205, 'y': 35.188235574216606}},
  {'attributes': {'OBJECTID': 76,
    'University_Chapter': 'Texas A&M University',
    'City': 'College Station',
    'State': 'TX',
    'ChapterID': 'TX0217',
    'MEVR_RD': 'Rob Wilson'},
   'geometry': {'x': -96.34616814755597, 'y': 30.60579567005256}},
  {'attributes': {'OBJECTID': 77,
    'University_Chapter': 'Texas A&M University-Kingsville',
    'City': 'Kingsville',
    'State': 'TX',
    'ChapterID': 'TX0176',
    'MEVR_RD': 'Clint Pace'},
   'geometry': {'x': -97.86551015399999, 'y': 27.51502722500004}},
  {'attributes': {'OBJECTID': 78,
    'University_Chapter': 'University of Tennessee at Martin',
    'City': 'Martin',
    'State': 'TN',
    'ChapterID': 'TN0117',
    'MEVR_RD': 'Jimbo Robinson'},
   'geometry': {'x': -88.86561525654986, 'y': 36.34096793991443}},
  {'attributes': {'OBJECTID': 79,
    'University_Chapter': 'University of Nebraska- Lincoln',
    'City': 'Lincoln',
    'State': 'NE',
    'ChapterID': 'NE0101',
    'MEVR_RD': 'Steve Wilson'},
   'geometry': {'x': -96.71062355193745, 'y': 40.81715181713591}},
  {'attributes': {'OBJECTID': 80,
    'University_Chapter': 'Texas Tech University',
    'City': 'Lubbock',
    'State': 'TX',
    'ChapterID': 'TX0164',
    'MEVR_RD': 'Randall Foster'},
   'geometry': {'x': -101.87288813892019, 'y': 33.591060461613644}},
  {'attributes': {'OBJECTID': 81,
    'University_Chapter': 'James Madison University',
    'City': 'Harrisonburg',
    'State': 'VA',
    'ChapterID': 'VA0100',
    'MEVR_RD': 'Shawn Kooyman'},
   'geometry': {'x': -78.87275554499996, 'y': 38.443282004000025}},
  {'attributes': {'OBJECTID': 82,
    'University_Chapter': 'University of Wisconsin-Madison',
    'City': 'Madison',
    'State': 'WI',
    'ChapterID': 'WI0303',
    'MEVR_RD': 'William Gross'},
   'geometry': {'x': -89.39475512899998, 'y': 43.07460977100004}},
  {'attributes': {'OBJECTID': 83,
    'University_Chapter': 'Milwaukee School of Engineering ',
    'City': 'Milwaukee',
    'State': 'WI',
    'ChapterID': 'WI0328',
    'MEVR_RD': 'Tom Munich'},
   'geometry': {'x': -87.95590937099996, 'y': 43.05216410100007}},
  {'attributes': {'OBJECTID': 85,
    'University_Chapter': 'Tennessee Tech University',
    'City': 'Cookeville',
    'State': 'TN',
    'ChapterID': 'TN0111',
    'MEVR_RD': 'Charlie Lowery'},
   'geometry': {'x': -85.50615041484733, 'y': 36.178118883774594}},
  {'attributes': {'OBJECTID': 87,
    'University_Chapter': 'Stephen F. Austin State University',
    'City': 'Nacogdoches',
    'State': 'TX',
    'ChapterID': 'TX0255',
    'MEVR_RD': 'Jason McKey'},
   'geometry': {'x': -94.64438432302, 'y': 31.625721030118193}},
  {'attributes': {'OBJECTID': 88,
    'University_Chapter': 'Virginia Tech University',
    'City': 'Blacksburg',
    'State': 'VA',
    'ChapterID': 'VA0089',
    'MEVR_RD': 'Shawn Kooyman'},
   'geometry': {'x': -80.41769121899995, 'y': 37.22987332900004}},
  {'attributes': {'OBJECTID': 91,
    'University_Chapter': 'University of Wisconsin-Stevens Point',
    'City': 'Stevens Point',
    'State': 'WI',
    'ChapterID': 'WI0340',
    'MEVR_RD': 'Michael Brumley'},
   'geometry': {'x': -89.56031851099999, 'y': 44.52303651600005}},
  {'attributes': {'OBJECTID': 92,
    'University_Chapter': 'University of Wisconsin-Green Bay',
    'City': 'Green Bay',
    'State': 'WI',
    'ChapterID': 'WI0337',
    'MEVR_RD': 'Chris Anderson'},
   'geometry': {'x': -88.01579181099999, 'y': 44.513446041000066}},
  {'attributes': {'OBJECTID': 494,
    'University_Chapter': 'University of North Georgia',
    'City': 'Dahlonega',
    'State': 'GA',
    'ChapterID': 'GA0173',
    'MEVR_RD': 'Scott James'},
   'geometry': {'x': -83.98407082499995, 'y': 34.527711047000025}},
  {'attributes': {'OBJECTID': 895,
    'University_Chapter': "College of Saint Benedict & Saint John's University",
    'City': 'St. Joseph',
    'State': 'MN',
    'ChapterID': 'MN0295',
    'MEVR_RD': 'Kyle Momsen'},
   'geometry': {'x': -94.32021552599997, 'y': 45.558805661000065}},
  {'attributes': {'OBJECTID': 897,
    'University_Chapter': 'Sewnee: The University of the South',
    'City': 'Sewanee',
    'State': 'TN',
    'ChapterID': 'TN0096',
    'MEVR_RD': 'Charlie Lowery'},
   'geometry': {'x': -85.91893143599998, 'y': 35.20419745600003}},
  {'attributes': {'OBJECTID': 1295,
    'University_Chapter': 'Gustavus Adolphus College',
    'City': 'St. Peter',
    'State': 'MN',
    'ChapterID': 'MN0335',
    'MEVR_RD': 'Ben Vaughn'},
   'geometry': {'x': -93.97148995499998, 'y': 44.323282730000074}},
  {'attributes': {'OBJECTID': 1297,
    'University_Chapter': 'Michigan Tech University',
    'City': 'Houghton',
    'State': 'MI',
    'ChapterID': 'MI0248',
    'MEVR_RD': 'Kevin Stoltz'},
   'geometry': {'x': -88.54994787799995, 'y': 47.11022352800006}},
  {'attributes': {'OBJECTID': 1299,
    'University_Chapter': 'Washington and Lee University',

In [143]:
# import pandas as pd
# pd.set_option("display.max_rows", 0)

# data = pd.DataFrame(results)
# data.head(10)

import pandas as pd
pd.set_option("display.max_rows", 0)

data = pd.DataFrame.from_dict(results, orient= 'index')
data.head(10)

                                                                   0
objectIdFieldName                                           OBJECTID
uniqueIdField       {'name': 'OBJECTID', 'isSystemMaintained': True}
globalIdFieldName
geometryType                                       esriGeometryPoint
spatialReference                  {'wkid': 4326, 'latestWkid': 4326}
fields             [{'name': 'OBJECTID', 'type': 'esriFieldTypeOI...
features           [{'attributes': {'OBJECTID': 2, 'University_Ch...

In [144]:
data.transpose()

,objectIdFieldName,uniqueIdField,globalIdFieldName,geometryType,spatialReference,fields,features
0,OBJECTID,"{'name': 'OBJECTID', 'isSystemMaintained': True}",,esriGeometryPoint,"{'wkid': 4326, 'latestWkid': 4326}","[{'name': 'OBJECTID', 'type': 'esriFieldTypeOI...","[{'attributes': {'OBJECTID': 2, 'University_Ch..."

In [145]:
response = requests.get('https://services2.arcgis.com/5I7u4SJE1vUr79JC/arcgis/rest/services/UniversityChapters_Public/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json')
response.json()
data = pd.DataFrame(response.json())
data.head()
# data.shape

ValueError: All arrays must be of the same length

In [140]:
def flatten(data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        data = pd.concat([data, flattened], axis=1)
        data = data.drop(column, axis=1)
    return data

In [132]:
dict(data['actor'])
pd.DataFrame(dict(data['actor']))
pd.DataFrame(dict(data['actor'])).transpose()

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [102]:
nested_columns = ['actor', 'org', 'payload', 'repo']

flat = flatten(data, nested_columns)
flat

In [79]:
flat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   categories  0 non-null      float64
 1   url         0 non-null      object
 2   value       0 non-null      object
dtypes: float64(1), object(2)
memory usage: 124.0+ bytes

In [103]:
from pandas.io.json import json_normalize

results = response.json()
flattened_data = json_normalize(results)

flattened_data

/var/folders/tr/nqbjf62d721fqy35q732j79m0000gn/T/ipykernel_3864/807225718.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  flattened_data = json_normalize(results)

,objectIdFieldName,globalIdFieldName,geometryType,fields,features,uniqueIdField.name,uniqueIdField.isSystemMaintained,spatialReference.wkid,spatialReference.latestWkid
0,OBJECTID,,esriGeometryPoint,"[{'name': 'OBJECTID', 'type': 'esriFieldTypeOI...","[{'attributes': {'OBJECTID': 2, 'University_Ch...",OBJECTID,True,4326,4326

In [84]:
flattened_data['payload.commits']
flattened_data['payload.commits'][6]

'2020-01-05 13:42:22.701402'

In [27]:
import getpass
apikey = getpass.getpass()

········

In [32]:
response = requests.get('http://api.exchangeratesapi.io/2019-10-26?access_key='+apikey)
#response
results = response.json()
results

{'success': False,
 'error': {'code': 101,
  'type': 'invalid_access_key',
  'info': 'You have not supplied a valid API Access Key. [Technical Support: support@apilayer.com]'}}

In [33]:
results['rates']
data = pd.DataFrame.from_dict(results["rates"], orient="index").reset_index()
data.columns = ["currency", "rate"]
data

KeyError: 'rates'

## API 3

In [146]:
print(chucknorris.text)

{"categories":[],"created_at":"2020-01-05 13:42:28.420821","icon_url":"https://assets.chucknorris.host/img/avatar/chuck-norris.png","id":"ng51yXYESzum3sFpgN-nCA","updated_at":"2020-01-05 13:42:28.420821","url":"https://api.chucknorris.io/jokes/ng51yXYESzum3sFpgN-nCA","value":"Chuck Norris eats tree leafs and shits 100 dollar bills."}

In [159]:
import json

response = requests.get('https://api.chucknorris.io/jokes/random')
# response
results = response.json()
results

{'categories': [],
 'created_at': '2020-01-05 13:42:28.664997',
 'icon_url': 'https://assets.chucknorris.host/img/avatar/chuck-norris.png',
 'id': 'RHnlQIANQo6EGebs3FwnBw',
 'updated_at': '2020-01-05 13:42:28.664997',
 'url': 'https://api.chucknorris.io/jokes/RHnlQIANQo6EGebs3FwnBw',
 'value': 'All of the athletes caught using steroids were in fact injecting themselves with a drop of Chuck Norris piss!'}

In [156]:
# import pandas as pd
# pd.set_option("display.max_rows", 0)

# data = pd.DataFrame(results)
# data.head(10)

import pandas as pd
pd.set_option("display.max_rows", 0)
pd.set_option("display.max_columns", 0)

data = pd.DataFrame.from_dict(results, orient= 'index')
data.head(10)

              0     1     2     3     4   ...    82    83    84    85    86
categories  None  None  None  None  None  ...  None  None  None  None  None
created_at     2     0     2     0     -  ...  None  None  None  None  None
icon_url       h     t     t     p     s  ...  None  None  None  None  None
id             K     5     L     p     7  ...  None  None  None  None  None
updated_at     2     0     2     0     -  ...  None  None  None  None  None
url            h     t     t     p     s  ...  None  None  None  None  None
value          A           g     r     o  ...     r     e     s     t     .

[7 rows x 87 columns]

In [154]:
res1_1 = requests.get('https://api.chucknorris.io/jokes/random').json()
res1_1

{'categories': [],
 'created_at': '2020-01-05 13:42:21.455187',
 'icon_url': 'https://assets.chucknorris.host/img/avatar/chuck-norris.png',
 'id': 'VV40vAcORWqzbPt0HCDXZA',
 'updated_at': '2020-01-05 13:42:21.455187',
 'url': 'https://api.chucknorris.io/jokes/VV40vAcORWqzbPt0HCDXZA',
 'value': 'Chuck Norris is like a vampire. The difference is that he drinks more blood in one day than Dracula has had in 300 years.'}

In [155]:
print(res1_1['value'])

Chuck Norris is like a vampire. The difference is that he drinks more blood in one day than Dracula has had in 300 years.

In [149]:
data.transpose()

   categories created_at icon_url    id updated_at   url value
0        None          2        h     K          2     h     A
1        None          0        t     5          0     t
2        None          2        t     L          2     t     g
3        None          0        p     p          0     p     r
4        None          -        s     7          -     s     o
5        None          0        :     _          0     :     u
6        None          1        /     D          1     /     n
7        None          -        /     C          -     /     d
8        None          0        a     R          0     a     h
..        ...        ...      ...   ...        ...   ...   ...
78       None       None     None  None       None  None     t
79       None       None     None  None       None  None     h
80       None       None     None  None       None  None     e
81       None       None     None  None       None  None
82       None       None     None  None       None  None     r
83       None       None     None  None       None  None     e
84       None       None     None  None       None  None     s
85       None       None     None  None       None  None     t
86       None       None     None  None       None  None     .

[87 rows x 7 columns]

In [150]:
response = requests.get('https://api.chucknorris.io/jokes/random')
response.json()
data = pd.DataFrame(response.json())
data.head()
# data.shape

Empty DataFrame
Columns: [categories, created_at, icon_url, id, updated_at, url, value]
Index: []

In [161]:
def flatten(data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        data = pd.concat([data, flattened], axis=1)
        data = data.drop(column, axis=1)
    return data

In [132]:
dict(data['actor'])
pd.DataFrame(dict(data['actor']))
pd.DataFrame(dict(data['actor'])).transpose()

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [102]:
nested_columns = ['actor', 'org', 'payload', 'repo']

flat = flatten(data, nested_columns)
flat

In [79]:
flat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   categories  0 non-null      float64
 1   url         0 non-null      object
 2   value       0 non-null      object
dtypes: float64(1), object(2)
memory usage: 124.0+ bytes

In [158]:
from pandas.io.json import json_normalize

results = response.json()
flattened_data = json_normalize(results)

flattened_data

/var/folders/tr/nqbjf62d721fqy35q732j79m0000gn/T/ipykernel_3864/807225718.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  flattened_data = json_normalize(results)

  categories  ...                                       value
0         []  ...  Chuck Norris uses pens on Scantron sheets.

[1 rows x 7 columns]

In [84]:
flattened_data['payload.commits']
flattened_data['payload.commits'][6]

'2020-01-05 13:42:22.701402'

In [27]:
import getpass
apikey = getpass.getpass()

········

In [32]:
response = requests.get('http://api.exchangeratesapi.io/2019-10-26?access_key='+apikey)
#response
results = response.json()
results

{'success': False,
 'error': {'code': 101,
  'type': 'invalid_access_key',
  'info': 'You have not supplied a valid API Access Key. [Technical Support: support@apilayer.com]'}}

In [33]:
results['rates']
data = pd.DataFrame.from_dict(results["rates"], orient="index").reset_index()
data.columns = ["currency", "rate"]
data

KeyError: 'rates'